# Your AWS remote access credentials

:AWS:
  :access_key_id: ''
  :secret_access_key: ''

# S3 bucket that contains billing data.

:source_bucket: ''

# S3 bucket into which resulting output should be uploaded.

:upload_bucket: ''

