<html style="background-color: #EEE;">
  <head>
    <title><%=product_name%> - <%=match[:date]%> | AWS Usage</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>

  <body style="width: 970px; margin: 10px auto;">
